<div class = "container">

  <%= form_tag "/listings", method: :post do %>
  <div class = "well">
     <div>
        <%= label_tag :address %> 
        <%= text_field_tag(:address, nil, class: "form-control") %> 
        <%= label_tag :city %> 
        <%= text_field_tag(:city, nil, class: "form-control") %> 
        <%= label_tag :state %> 
        <%= text_field_tag(:state, nil, class: "form-control") %> 
     </div>
  </div>
  <div class = "well">
    <div>
      <%= label_tag :price %> 
      <%= text_field_tag(:price, nil, class: "form-control") %> 
      <%= label_tag :bedrooms %> 
      <%= text_field_tag(:bedrooms, nil, class: "form-control") %> 
      <%= label_tag :bathrooms %> 
      <%= text_field_tag(:bathrooms, nil, class: "form-control") %> 
      <%= label_tag :sqft %> 
      <%= text_field_tag(:sqft, nil, class: "form-control") %> 
    </div>
  </div>
  <div class = "well">
    <div>
      <%= label_tag :monthly_hoa_assessment %> 
      <%= text_field_tag(:hoa_assessment, nil, class: "form-control") %> 
      <%= label_tag :annual_property_tax %> 
      <%= text_field_tag(:tax_assessment, nil, class: "form-control") %> 
    </div>
  </div>

  <%= hidden_field_tag(:input_listing_id, @listing.id) %> 
  <%= button_tag 'Create', class: "btn btn-default" %> 

  <% end %>

</div>