<div class = "show-listing container">

    <div class="row show-listing-edit pull-right">
      <div class="ibox-title pull-right">
        <a href='/assumptions/edit'><p>Edit Profile</p></a>
        <a href="/assumptions/edit">
          <i class="fa fa-cogs fa-2x"></i>
        </a>
      </div>
    </div>
    
  <div class = "row assumptions-wells">
  
      <div class = "well col-md-6 assumptions-info">
        <h4>User info</h4>
        <p>First Name: <%= current_user.first_name %> </p>
        <p>Last Name: <%= current_user.last_name %> </p>
        <p>Email: <%= current_user.email %> </p>
      </div>  
      <div class = "well col-md-6 assumptions-info">
        <h4>Mortgage Assumptions</h4>
        <p>Percent Down Payment: <%= current_user.percent_down_pmt %>% </p>
        <p>Loan Type: <%= current_user.loan_type %> year fixed rate</p>
      </div> 
     
  </div>
</div>

    <!-- <div class = "well col-md-12">
      <h4>Rent vs. Buy Assumptions</h4>
      <p>Acquisition Costs: <%= current_user.acquisition_costs %>% </p>
      <p>Disposition Costs: <%= current_user.disposition_costs %>% </p>
      <p>Annual Maintenance: <%= current_user.annual_maintenance %>%</p>
      <p>Annual Insurance: <%= current_user.annual_insurance %>%</p>
      <p>Current rent: Add this once migrated </p>
      <p>Rent growth: <%= current_user.rent_growth %> </p>
      <p>Property Appreciation: <%= current_user.property_appreciation %> </p>
      <p>Income tax rate: <%= current_user.income_tax_rate %> </p>
    </div> -->
