<!DOCTYPE html>
<html>
<head>
  <title>Holmes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="../assets/favicon.ico">

</head>
<body>
  <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <form role="search" class="navbar-form-custom" method="post" action="">
          <div class="form-group">
            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"/>
          </div>
        </form>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="">Profile</a></li>
                <li><a href="">Assumptions</a></li>
                <li><a href="">About</a></li>
            </ul>
        </li>
        <li>
          <span class="m-r-sm text-muted welcome-message">Welcome to Holmes</span>
        </li>
        
        <li>
          <a href="#">
            <i class="fa fa-sign-out"></i> Log out
          </a>
        </li>
      </ul>
    </nav>
  </div>


<!-- all this stuff is good to go for nav bar! 
-->
<div class="footer">
  <div class="pull-right">
    Example text
  </div>
  <div>
    <strong>Copyright</strong> Example Company &copy; 2014-2015
  </div>
</div>

<div class="container-fluid">
  <% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
  </div>
  <% end %>
</div>

<%= yield %>



</body>
</html>
