<!DOCTYPE html>
<html>
<head>

  <title>Holmes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <link rel="shortcut icon" href="../assets/favicon.ico"> -->

</head>
<body>
  <div class = "container" ng-app="app">
    <div ng-controller="listingCtrl">
      <div class = "nav-items container">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/"><i class="fa fa-2x fa-home"></i></a></li>
          <% unless current_user %>
            <li role="presentation"><a href="/users/sign_up">Sign Up</a></li>
            <li role="presentation"><a href="/users/sign_in">Sign In</a></li>
          <% end %>


          <% if current_user %>
            <li role="presentation"><a href="/listings">Dashboard</a></li>
            <li role="presentation"><a href="/assumptions">Profile</a></li>
          <% end %>


          <% if current_user %>
            <li class="pull-right" role="presentation"><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
          <% end %>

        </ul>
      </div>


      <div class="container-fluid">
        <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
        <% end %>
      </div>

      <%= yield %>

    </div>
  </div>
</body>
</html>
