<!DOCTYPE html>
<html>
<head>
  <title>Holmes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="../assets/favicon.ico">

</head>

<body>

  <div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <i class="fa fa-reorder"></i>
          </button>
          <a href="/listings" class="navbar-brand">Holmes</a>
      </div>
      <div class="navbar-collapse collapse pull-right" id="navbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                  <li><a href="/assumptions">Assumptions</a></li>
                  <li><a href="">Calculation Steps</a></li>
                  <li><a href="">My favorites</a></li>
                  <li><a href="/listings">Listings</a></li>
              </ul>
          </li>
          <li class="divider"></li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
          <% if current_user %>
          <li>
            <a href="/users/sign_in">
              <i class="fa fa-sign-out"></i> Log out
            </a>
          </li>
          <% else %>
          <li>
            <a href="/users/sign_in">
              <i class="fa fa-sign-out"></i> Sign In
            </a>
          </li>
          <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>


<!-- all this stuff is good to go for nav bar! 
-->


<div class="container-fluid">
  <% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
  </div>
  <% end %>
</div>


<%= yield %>



</body>
</html>
